@import "tailwindcss";

/* Lenis recommended CSS for optimal smooth scrolling */
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-PPRegular: var(--font-pp-editorial-new);
  --font-PPRegularUL: var(--font-pp-editorial-new-ultralight);
  --font-PPItalic: var(--font-pp-editorial-new-italic);
  --font-NHD: var(--font-neue-haas-display);
}

@theme {
  --color-primary: #faf3eb;
  --color-secondary: #314f29;
  --color-tertiary: black;
  --color-quaternary: #221f20;
  /* --color-accent: #89402c; */
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

@layer base {
  h2 {
    @apply text-5xl leading-tight md:text-8xl;
  }
  h3 {
    @apply text-4xl leading-tight md:text-6xl;
  }
  h4 {
    @apply font-PPRegularUL text-4xl leading-tight md:text-6xl;
  }
  h5 {
    @apply font-PPRegular text-3xl leading-tight md:text-4xl;
  }
  /* p {
    @apply text-lg md:text-xl;
  } */
}
